.splitscreen-panel-row {
	align-items: flex-start;
	flex-direction: column;

	.components-dropdown {
		margin: 5px 0;
	}
}

.wp-block-johnwatkins0-splitscreen {

	img {
		height: 100% !important;
	}
}
